/StreamExample1.class
/StreamExample2.class
/StreamExample3.class
/StreamExample4.class
/ReducingPractice.class
/CompareString.class
/ReducingPractice$1.class
/StreamExample5.class
/TravelCustomer.class
