/GenericDemo.class
/GenericDemo2.class
/Cat.class
/Dog.class
/LandAnimal.class
/Sparrow.class
/AnimalList.class
/MyArray.class
/GenericDemo3.class
/Person.class
/GenericDemo4.class
/EmployeeInfo.class
/EmployeePerson.class
/StudentInfo.class
/StudentPerson.class
/GenericDemo4_2.class
/Info.class
